---
import Base from "~/layouts/Base.astro";
import Hero from "~/components/Hero.astro";
import StickyStats from "~/components/StickyStats.astro";
import Story from "~/components/Story.astro";
import DroneShowcase from "~/components/DroneShowcase.astro";
import GallerySection from "~/components/GallerySection.astro";
import ReelVideo from "~/components/ReelVideo.astro";
import LakeLife from "~/components/LakeLife.astro";
import Location from "~/components/Location.astro";
import Specs from "~/components/Specs.astro";
import AgentCard from "~/components/AgentCard.astro";
import ContactSection from "~/components/ContactSection.astro";
import Footer from "~/components/Footer.astro";
---

<Base>
  <main id="top">
    <StickyStats />
    <Hero />
    <Story />
    <DroneShowcase />
    <GallerySection />
    <ReelVideo />
    <LakeLife />
    <Location />
    <Specs />
    <AgentCard />
    <ContactSection />
  </main>
  <Footer />
</Base>
